* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: rem(0px);
  font-size: rem(16px);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF6F6;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  // background: #ffffff; //основной цвет фона
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: rem(1400px); //ширина контейнера
  width: 100%;
  margin: 0 auto;
}
img{
  // object-fit: cover;
}
h1{
  font-family: "Cactus";
  font-size: 128px;
  font-weight: 400;
  line-height: 120%;
  color: #8D6C56;
  letter-spacing: -0.03em;
}
h2{
    font-family: "Cactus";
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
}

