* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Для фиксированного хедера */
}

/* Отключение для старых браузеров */
@supports not (scroll-behavior: smooth) {
  html {
    scroll-behavior: auto;
  }
}

body {
  overflow-x: hidden;
  margin: rem(0px);
  font-size: rem(16px);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff6f6;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  // background: #ffffff; //основной цвет фона
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: rem(1280px); //ширина контейнера
  width: 100%;
  margin: 0 auto;
}

// кавычки для заголовков
.hooks {
  color: #e08269;
  font-family: "Inter";
  font-weight: bold;
}

h1 {
  font-family: "Cactus";
  font-size: clamp(3rem, 10vw, 8rem); 
  font-weight: 400;
  line-height: 120%;
  color: #8d6c56;
  letter-spacing: -0.03em;
  position: relative;
  z-index: 1;
}
h2 {
  font-family: "Cactus";
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: #401818;
}
h3 {
  font-family: "Cactus";
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
}
h4 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 140%;
}
.broun__btn {
  background-color: #de8067;
  color: white;
  padding: 20px 36px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  &:hover {
    background-color: #f89d84;
    box-shadow: 0 6px 8px rgba(222, 128, 103, 0.6);
    transform: translateY(-2px); /* Дополнительный эффект "поднятия" */
    transition: all 0.3s ease;
  }
}
.light__btn {
  padding: 12px 36px;
  border: 1px solid #cac0c0;
  border-radius: 50px;
  color: #736b6b;
  font-family: "Inter";
  font-size: 16px;
}
.light__btn:active {
  border: 1px solid #e08269;
  color: #e08269;
}

.light__btn_active {
  border: 1px solid #e08269;
  color: #e08269;
}
.pulse__btn {
  animation: pulse 2s infinite 1.7s forwards;
}
@keyframes pulse {
  0% {
    transform: translateY(0) scale(1);
    box-shadow: 0 0 0 rgba(222, 128, 103, 0.4);
  }
  50% {
    transform: translateY(0) scale(1.05);
    box-shadow: 0 5px 15px rgba(222, 128, 103, 0.6);
  }
  100% {
    transform: translateY(0) scale(1);
    box-shadow: 0 0 0 rgba(222, 128, 103, 0.4);
  }
}

.title {
  border-bottom: 1px solid #f5ded8;
  display: flex;
  color: #401818;
  gap: 20px;
  padding-bottom: 30px;

  &__left {
    flex-shrink: 0;
  }

  &__right {
    margin-top: 9px;
    padding-top: 5px;
    border-top: 1px solid #f5ded8;
    gap: 3px;
    width: 100%;

    &__text {
      display: flex;
      justify-content: flex-end;
      gap: 3px;
      flex-shrink: 0;
      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;

      & span {
        color: #e08269;
        font-weight: 700;
      }

      & p {
        text-align: center;
      }
    }
  }
}

.ellipseYellow {
  width: 225px;
  height: 226px;
  position: absolute;
  background-color: #c4644b;
  filter: blur(170px);
}
.ellipseYe {
  width: 349px;
  height: 350px;
  position: absolute;
  background-color: #fcc645;
  filter: blur(170px);
  opacity: 0.5;
}
.ellipseLight {
  position: absolute;
  background-color: #ffefef;
  filter: blur(170px);
  width: 194px;
  height: 201px;
}
.ellipsePink {
  position: absolute;
  background-color: #fff2fd;
  filter: blur(170px);
  width: 257px;
  height: 267px;
}
