.care__btns {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.care__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  background-color: #ffffff;
  &__el {
    display: flex;
    margin: auto;
    &__img {
      width: 320px;
      height: 315px;
      object-fit: cover;
    }
    &__text {
      padding: 26px 24px;
      margin: auto;
      &__h {
        color: #e08269;
        margin-bottom: 13px;
      }
      &__p {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        line-height: 140%;
        font-size: 16px;
        letter-spacing: -0.03em;
        color: #7d7b7b;
        hyphens: auto;
        overflow-wrap: break-word;
      }
    }
  }
}
