@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Cactus';
  src: url('../fonts/Cactus/CactusClassicalSerif-Regular.ttf') format('woff2');
  font-style: normal;
}


// для Arial будем писать
//   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;