.help__container {
  max-width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}
.help__behind {
  background-color: #e08269;
  display: flex;
  margin-top: 146px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.help__text {
  max-width: 1400px;
  padding: 64px 652px 184px 169px;
  z-index: 5;
  &__p {
    color: #ffffff;
    line-height: 140%;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 33px;
    max-width: 606px;
  }
  &__buttons {
    display: flex;
    gap: 10px;
    max-width: 500px;
    flex-wrap: wrap;
    &__btn {
      color: #ffffff;
      border: 1px solid #eeebeb;
      border-radius: 50px;
      padding: 12px 36px;
      font-family: "Inter";
      font-size: 16px;
    }
  }
}
.help__img {
  position: relative;
  max-width: 60%;
  &__girl {
    position: absolute;
    right: 0;
    height: 100%; // Занимает всю высоту контейнера
    width: auto; // Сохраняем пропорции
    // max-width: 695px;
    z-index: 1;
    transform: translateX(20%);
    top: 0%;
  }
  &__ellips {
    position: absolute;
    width: 257px;
    bottom: -160px;
    right: -8px;
  }
}
.help__ahead {
  display: flex;
  max-width: 1205px;
  width: 90%;
  min-height: 220px;
  background: #ffffff;
  box-shadow: 0px 142px 57px rgba(227, 117, 94, 0.01),
    0px 80px 48px rgba(227, 117, 94, 0.05),
    0px 35px 35px rgba(227, 117, 94, 0.09), 0px 9px 19px rgba(227, 117, 94, 0.1);
  border-radius: 20px;
  position: relative;
  margin: auto;
  z-index: 3;
  bottom: 110px;
  padding: 40px 71px 0;
  gap: 62px;
  &__left {
    max-width: 484px;
    position: relative;
    &__p {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      line-height: 140%;
    }
    &__img {
      position: absolute;
      bottom: 0;
    }
  }
  &__right {
    max-width: 484px;
    &__p {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      line-height: 140%;
      margin-bottom: 26px;
    }
  }
}
