@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("woff2");
  font-style: normal; }
@font-face {
  font-family: 'Cactus';
  src: url("../fonts/Cactus/CactusClassicalSerif-Regular.ttf") format("woff2");
  font-style: normal; }
* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  overflow-x: hidden;
  margin: 0rem;
  font-size: 1rem;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF6F6; }

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul > li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit; }

button {
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer; }

input {
  outline: none;
  border: none; }

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; }

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  overflow-x: hidden; }

.container {
  position: relative;
  max-width: 87.5rem;
  width: 100%;
  margin: 0 auto; }

img {
  object-fit: cover; }

h1 {
  font-family: "Cactus";
  font-size: 128px;
  font-weight: 400;
  line-height: 120%;
  color: #8D6C56;
  letter-spacing: -0.03em; }

h2 {
  font-family: "Cactus";
  font-weight: 400;
  font-size: 36px;
  line-height: 120%; }

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 23px 63px; }

.nav {
  display: flex; }
  .nav__list {
    display: flex;
    gap: 40px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px; }

.header__social {
  display: flex;
  gap: 12px; }
  .header__social__link {
    color: #401818; }

.start__container {
  background: url("../img/start.png");
  width: 100%;
  height: 580px;
  padding-top: 82px;
  padding-left: 164px;
  background-size: cover; }
.start__h2 {
  color: #de8067; }
.start__description {
  padding: 37px 0;
  max-width: 348px;
  color: #7D7B7B;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; }
.start__button {
  background-color: #de8067;
  color: white;
  padding: 20px 36px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Inter'; }
