@media (max-width: 1300px) {
  .hero__info__eng {
    font-size: 120px;
    bottom: 14px;
    left: 7%;
  }
  .hero__info {
    align-items: flex-end;
  }
  .footer__eng {
    font-size: 133px;
    bottom: -56px;
  }
  .footer__container {
    padding-left: 409px;
  }
}
@media (max-width: 700px) {
.start__dec {
  display: none;
}
}

@media (max-width: 1200px) {
  .start__container {
    height: 680px;
  }
  .start__h1 {
    max-width: 800px;
    font-size: 120px;
  }
  .start__girl {
    transform: translateX(28%);
  }
  .footer__container {
    padding-left: 420px;
  }
}

@media (max-width: 1100px) {
  // .price__info__btn__arr__el__info {
  //   width: 650px;
  // }
  .price__info__btn__arr__el__item {
    width: 160px;
  }
  .footer__eng {
    font-size: 101px;
    bottom: -43px;
  }
  .footer__container {
    padding-left: 370px;
  }
  .footer__img {
    bottom: -5px;
    &__el {
      width: 420px;
    }
  }
}

@media (max-width: 900px) {
  .price__info__btn__arr__el__info {
    font-size: 26px;
  }
  .price__info__btn__arr__el__item {
    font-size: 26px;
    margin-right: -27px;
  }
  .price__info__btn__arr__el__num {
    margin-right: 27px;
  }
  .broun__btn {
    padding: 18px 32px;
  }
  .price__info__btn__arr__el__item__p {
    font-size: 26px;
  }
  .footer__eng {
    font-size: 72px;
    flex-direction: row;
    display: flex;
    bottom: -30px;
    gap: 30px;
  }
  .footer__container {
    padding: 60px 20px 345px 20px;
  }
  .footer__img {
    &__el {
      width: 363px;
    }
  }
}

@media (max-width: 700px) {
  .price__div {
    display: flex;
    width: 100%;
    padding-bottom: 16px;
    // width: 60%;
    // align-items: center;
  }
  .price__info__btn__arr__el {
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    &__item {
      flex-direction: row;
      display: flex;
      align-items: baseline;
      gap: 6px;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 36px;
      margin-right: 0;
    }
  }
  .broun__btn {
    padding: 20px 62px;
  }
  .price__info__btn__el {
    padding: 12px 25px;
  }
  .footer__eng {
    font-size: 60px;
    bottom: 17px;
    left: 0;
    width: 100%;
    // display: flex;
    flex-direction: column;
    &__name {
      align-self: flex-start;
    }
    &__surname {
      align-self: flex-end;
    }
  }
  .footer__container {
    flex-direction: column;
    padding: 60px 20px;
    padding-bottom: 411px;
    gap: 48px;
  }
  .btn__footer {
    position: absolute;
    right: 20px;
    padding: 20px 21px;
  }
  .footer__img__el {
    width: 100vw;
  }
}

@media (max-width: 400px) {
  .price__info__btn__arr__el__num {
    font-size: 25px;
  }
  .price__info__btn__arr__el__info,
  .price__info__btn__arr__el__item__p {
    font-size: 20px;
  }
  .price__info__btn__arr__el__item__price {
    font-size: 14px;
  }
  .price__info__btn__el {
    font-size: 14px;
    padding: 10px 23px;
  }

  .footer__contacts {
    gap: 36px;
  }
  .broun__btn {
    font-size: 14px;
  }
  .footer__img {
    left: -37px;
  }
  .nav__list__item__link {
    font-size: 18px;
  }
  .footer__img__el {
    width: 118vw;
  }
}
