@media (max-width: 1315px) {
  .review__container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 1300px) {
  .container {
    padding-left: clamp(15px, 5%, 80px);
    padding-right: clamp(15px, 5%, 80px);
  }
  .start__h2 {
    font-size: 30px;
  }

  .hero__info {
    align-items: flex-end;
  }
  .footer__eng {
    font-size: 133px;
    bottom: -56px;
  }
  .footer__container {
    padding-left: 196px;
    padding-right: 40px;
  }
  .care__list__el {
    width: 100%;
    &__img {
      width: 50%;
      object-fit: cover;
      // height: 100%;
    }
    &__text {
      width: 50%;
      padding: 12px 11px;
    }
  }
}

@media (max-width: 1200px) {
  .header__adress {
    margin-right: 0;
  }
  .start__dec {
    right: 40%;
    top: 376px;
  }
  .qual__slider__wrap {
    width: 70%;
  }

  .mobile__tel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    &__tel {
      font-family: "Inter";
      font-weight: 500;
      font-style: Medium;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #401818;
    }
  }
  .header__tel {
    display: none;
  }
  .hero__info__img img {
    max-width: 490px;
  }
  .hero__info__text__greeting {
    margin-top: 25px;
  }
  .footer__container {
    padding-left: 207px;
  }
  h3 {
    font-size: 23px;
  }
  .care__list__el__text {
    padding: 5px 14px;
  }
}

@media (max-width: 1100px) {
  br.mobile__only__h1 {
    display: inline;
  }
  .start__h1 {
    line-height: 110%;
  }
  .start__girl {
    transform: translateX(30%);
  }
  //   .start__girl img {
  //     // display: block;
  //     height: auto;
  //     width: 110%;
  //     max-width: none;
  // }
  // .start__girl {
  //   overflow: hidden;
  // }
  .start__description {
    font-size: 18px;
    max-width: 400px;
  }
  .hero__info {
    flex-direction: column-reverse;
    align-items: center;
    margin: 42px auto 0;
    max-width: 970px;
  }
  .floatImg {
    float: right;
    margin: 0 0 15px 15px;
    // width: 400px;
    height: auto;
  }
  .floatImg img {
    max-height: 300px;
  }
  .hero__eng {
    margin-top: 9%;
  }
  .hero__info__eng__name {
    margin-top: -12%;
    margin-right: -14%;
  }

  .hero__info__text__greeting {
    font-size: 18px;
  }
  .hero__info__img img {
    max-width: 540px;
  }

  // .hero__eng {
  //   font-size: 90px;
  //   left: 15%;
  //   bottom: 0px;
  //   // position: relative;
  //   display: flex;
  //   &__name {
  //     align-self: flex-start;
  //   }
  //   &__family {
  //     align-self: flex-end;
  //   }
  // }
  .price__info__btn__arr__el__item {
    width: 160px;
  }
  .footer__eng {
    font-size: 101px;
    bottom: -43px;
  }
  .footer__container {
    padding-left: 41px;
  }
  .footer__img {
    bottom: -5px;
    &__el {
      width: 420px;
    }
  }
  .care__list {
    grid-template-columns: 1fr;
  }
  .care__list__el:nth-child(2),
  .care__list__el:nth-child(3),
  .care__list__el:nth-child(6) {
    flex-direction: row-reverse;
  }
  .care__list__el__text__p {
    font-size: 18px;
  }
  .care__list__el__img__border__end {
    border-radius: 0;
    &__mob {
      border-radius: 0 0 20px 0;
    }
  }
  .care__list__el__img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
  }
  .help__text {
    padding-left: 30px;
    padding-right: 439px;
  }
}

@media (max-width: 1000px) {
  .start__h2 {
    font-size: 28px;
  }
  // br.mobile__only__h2 {
  //   display: inline;
  // }
  .start__dec {
    display: none;
  }
  .hero__eng {
    margin-bottom: 0;
  }
  .title__left__care {
    width: 72%;
  }

  .title {
    flex-direction: column;
    border-bottom: 0;
    padding-bottom: 0;
  }

  .contacts iframe {
    height: 686px;
  }
  .qual__slider__wrap {
    width: 70%;
  }

  .contacts__window {
    top: unset;
    bottom: 46px;
    left: 10px;
    padding: 24px;
  }

  .result__container {
    gap: unset;
  }

  .result__title {
    margin-bottom: 40px;
  }

  .result__slider__list__item {
    flex-direction: column-reverse;
  }

  .result__slider__list__item__info {
    align-items: center;
    text-align: left;
  }

  .result__slider__list__item__info__desc {
    text-align: left;
  }

  .result__slider__list__item__pic__img {
    height: unset;
  }

  .result__slider__btn {
    display: none;
  }

  .result__dots {
    display: flex;
  }
  .help__behind {
    margin-top: 0;
  }

  .runningLine__container {
    margin-bottom: 120px;
  }
  .result {
    margin-top: 120px;
  }
  .review {
    margin-top: 120px;
  }
  .qual {
    margin-top: 120px;
  }
  .contacts__title {
    margin-top: 120px;
  }
  .result__slider__list__item__info__desc {
    min-height: 68px;
  }
}

@media (max-width: 994px) {
  .noBG {
    display: none;
  }
  .history__mobile {
    display: block;
    background: none;
    box-shadow: none;
    color: #ffe6df;
    position: relative;
  }
}
.history__container {
  margin-top: 100px;
}

@media (max-width: 970px) {
  .review__slider__list__item {
    padding: 26px;
  }
}

@media (max-width: 900px) {
  .start__h1 {
    font-size: 90px;
  }
  .start__container {
    padding-top: 68px;
    // height: 70vh;
  }
  .qual__container {
    gap: 60px;
  }
  .price__info__btn__arr__el__info {
    font-size: 26px;
  }
  .price__info__btn__arr__el__item {
    font-size: 26px;
    margin-right: -27px;
  }
  .price__info__btn__arr__el__num {
    margin-right: 27px;
  }
  .broun__btn {
    padding: 18px 32px;
  }
  .price__info__btn__arr__el__item__p {
    font-size: 26px;
  }
  .footer__eng {
    font-size: 72px;
    flex-direction: row;
    display: flex;
    bottom: -30px;
    gap: 30px;
  }
  .footer__container {
    padding: 106px 20px 300px 0;
    margin-left: -110px;
  }
  .footer__img {
    &__el {
      width: 363px;
    }
  }
  .footer__logo__pic {
    width: 120px;
  }
  .footer__logo {
    padding-top: 28px;
    padding-left: 26px;
  }
  .help__img__girl {
    right: -223px;
  }
}
@media (max-width: 740px) {
  .start__h1 {
    font-size: 80px;
  }
  .start__h2 {
    font-size: 25px;
  }
  .start__description {
    font-size: 16px;
    max-width: 350px;
    margin: 20px 0;
  }
}
@media (max-width: 700px) {
  .start__girl {
    transform: translateX(40%);
  }
  .help__img__girl {
    right: -176px;
  }
  .header__adress {
    display: none;
  }
  .hero__title {
    padding-left: clamp(15px, 5%, 80px);
    padding-right: clamp(15px, 5%, 80px);
  }
  .hero__container {
    padding: 0;
  }
  .hero__info__text {
    z-index: 1;
  }
  .hero__info__img {
    width: 100%;
    z-index: 1;
  }
  .hero__info__img img {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }
  .hero__eng {
    transform: translateX(calc(-90% + 20px));
    font-size: 70px;
  }
  .hero__info__text {
    padding-left: clamp(15px, 5%, 80px);
    padding-right: clamp(15px, 5%, 80px);
  }
  .history__list__item__bigP {
    font-size: 80px;
  }
  .history__list__item__bigP__span {
    font-size: 54px;
  }
  .price__div {
    display: flex;
    width: 100%;
    padding-bottom: 16px;
    align-items: flex-start;
  }
  .price__info__btn__arr__el {
    flex-direction: column;
    padding-bottom: 30px;
    &__item {
      flex-direction: row;
      display: flex;
      align-items: baseline;
      gap: 6px;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 60px;
      margin-right: 0;
    }
  }
  .broun__btn {
    padding: 20px 62px;
  }
  .nav__list__footer {
    gap: 35px;
  }
  .footer__eng {
    font-size: 70px;
    bottom: 17px;
    left: 0;
    width: 100%;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    gap: 0;
    &__name {
      align-self: flex-start;
    }
    &__surname {
      align-self: flex-end;
    }
  }
  .footer__container {
    flex-direction: column;
    padding: 60px 35px;
    padding-bottom: 362px;
    gap: 48px;
    margin: 0;
  }
  .btn__footer {
    position: absolute;
    right: 20px;
    padding: 20px 21px;
  }
  .footer__img__el {
    width: 100vw;
  }
  .footer__logo {
    display: none;
  }
  .price__info__btn {
    display: flex;
    gap: 6px; /* Расстояние между кнопками */
    white-space: nowrap; /* Предотвращаем перенос кнопок */
    padding: 12px 0;
    justify-content: center;
    &-wrapper {
      width: 100%;
      overflow-x: auto;
      padding-bottom: 10px; /* Для пространства под скроллбаром */
      -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
    }
    &__el {
      flex-shrink: 0; /* Запрещаем уменьшение кнопок */
      font-size: 14px;
      padding: 10px 23px;
    }
  }
  .care__btns {
    display: flex;
    gap: 6px; /* Расстояние между кнопками */
    white-space: nowrap; /* Предотвращаем перенос кнопок */
    padding: 12px 0;
    justify-content: center;
    margin: 0;
    &-wrapper {
      width: 100%;
      overflow-x: auto;
      padding-bottom: 10px; /* Для пространства под скроллбаром */
      -webkit-overflow-scrolling: touch;
      margin-bottom: 32px;
    }
    &__btn {
      flex-shrink: 0; /* Запрещаем уменьшение кнопок */
      font-size: 14px;
      padding: 10px 23px;
    }
  }

  /* Стили для скроллбара (опционально) */
  .price__info__btn-wrapper::-webkit-scrollbar,
  .care__btns-wrapper::-webkit-scrollbar {
    height: 2px;
  }
  .price__info__btn-wrapper::-webkit-scrollbar-track,
  .care__btns-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .price__info__btn-wrapper::-webkit-scrollbar-thumb,
  .care__btns-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }
  .price__info__btn-wrapper::-webkit-scrollbar-thumb:hover,
  .care__btns-wrapper::-webkit-scrollbar-thumb:hover {
    background: #736b6b;
  }
  .help__text__p {
    position: absolute;
    bottom: -118px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0em;
    color: #7d7b7b;
    left: 12%;
  }
  .help__behind {
    overflow: visible;
  }
  .help__ahead {
    margin-top: 240px;
    padding: 32px 57px 0;
  }
  .help__btn {
    padding: 15px 25px;
  }
  .help__text__buttons {
    margin-left: 25%;
    width: 130%;
    gap: 26px;
  }
}

@media (max-width: 640px) {
  .qual__slider {
    gap: 16px;
  }
  .floatImg {
    display: flex;
    float: unset;
    width: 100%;
    justify-content: flex-end;
  }

  .hero__eng {
    margin-top: 14%;
  }
  .hero__info__eng__name {
    margin-top: -12%;
    margin-right: -30%;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 34px;
  }
  .start__h1 {
    font-size: 70px;
  }
  .start__h2 {
    font-size: 25px;
  }
  .start__description {
    font-size: 16px;
    max-width: 300px;
  }
  .start__girl {
    transform: translateX(44%);
  }
  .history__list__item__bigP {
    font-size: 75px;
  }
  .history__list__item__bigP__span {
    display: none;
  }
  .care__list__el {
    flex-direction: column;
    &__img {
      width: 100%;
      height: 60vw;
      object-fit: cover;
      &__border {
        border-radius: 20px 20px 0 0;
      }
    }
    &__text {
      width: 100%;
      padding: 32px 27px;
    }
  }
  .care__list__el:nth-child(2),
  .care__list__el:nth-child(6) {
    flex-direction: column;
  }
  .care__list__el:nth-child(3),
  .care__list__el:nth-child(4) {
    flex-direction: column-reverse;
  }
  .title__left__care {
    width: 100%;
  }
  .care__list__el__img__border__end__mob,
  .care__list__el__img__border__end__el {
    border-radius: 0;
  }
  .help__text__buttons {
    margin-left: 38%;
  }
  .help__text__p {
    bottom: -140px;
    right: 20px;
    left: 20px;
  }
  .help__ahead {
    flex-direction: column;
    box-shadow: none;
    background: none;
    border-radius: 0;
    width: 100%;
    gap: 16px;
    padding: 0 20px;
    &__left,
    &__right {
      background: #ffffff;
      box-shadow: 0px 142px 57px rgba(227, 117, 94, 0.01),
        0px 80px 48px rgba(227, 117, 94, 0.05),
        0px 35px 35px rgba(227, 117, 94, 0.09),
        0px 9px 19px rgba(227, 117, 94, 0.1);
      border-radius: 20px;
      max-width: 550px;
    }
    &__left {
      padding: 28px 8px 47px 28px;
      &__p {
        font-family: Arial;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0em;
        color: #401818;
      }
      &__img {
        right: -13px;
        width: 143px;
      }
    }
    &__right {
      padding: 28px 20px 28px 28px;
      font-family: Arial;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0em;
      color: #401818;
    }
  }
  .help__btn {
    display: flex;
    margin: 0 auto;
  }
  .title {
    margin-top: 65px;
  }
  .qual__slider__dots {
    display: block;
  }
  .qual__slider__btn {
    display: none;
  }
  .result {
    margin-top: 40px;
  }
  .review {
    margin-top: 40px;
  }
  .qual {
    margin-top: 40px;
  }
  .contacts__title {
    .title__left h2 {
      display: none;
    }
    &__mobOnly {
      display: block;
      font-family: "Cactus";
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      color: #401818;
    }
  }
}
@media (max-width: 520px) {
  .mob__deleted {
    display: none;
  }
}

@media (max-width: 510px) {
  .start__h1 {
    font-size: 65px;
  }
  .start__h2 {
    font-size: 20px;
  }
  .mobile__only__h2 {
    display: inline;
  }
  .hero__eng {
    font-size: 65px;
    margin-top: 19%;
  }
  .hero__info__eng__name {
    margin-top: -13%;
    margin-right: -40%;
  }
}
@media (max-width: 500px) {
  // h2 {
  //   font-size: 20px;
  // }

  .review__slider__wrap {
    max-width: 100%;
    width: 100%;
  }

  .review__slider__list__item {
    height: unset;
    padding: 20px;
    max-width: unset;
    width: 242px !important;
    //width: 100%;
  }

  .review__slider__list__item__desc {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .review__slider__list__item__user {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .start__girl {
    max-width: 100%;
    height: 683px;
    transform: translate(0%, -15%);
  }
  .start__girl::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      250.92deg,
      rgba(0, 0, 0, 0.05) 34.77%,
      rgba(255, 255, 255, 0.7) 50.89%
    );
    // backdrop-filter: blur(2px);
    z-index: 2;
    pointer-events: none;
  }
  .hero__info__eng__name {
    margin-top: -14%;
  }

  .history__list__item__bigP {
    font-size: 59px;
  }
  .history__list__item__p {
    font-size: 13px;
  }
  .history__mob__noDisplay {
    display: none;
  }
  .history__list {
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 8px;
  }
  .contacts__container {
    padding-left: 0;
    padding-right: 0;
  }
  .contacts__title {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 40px;
  }
  .contacts__title__mobOnly {
    font-size: 25px;
  }
  .contacts__window {
    left: 8px;
    right: 8px;
    padding: 39px 24px 54px 24px;
    gap: 20px;
  }

  .contacts__window__header {
    font-size: 20px;
  }
  .help__text {
    padding-right: 477px;
    &__buttons {
      display: none;
      &__btn {
        padding: 9px 13px;
        font-size: 14px;
      }
      &__mob {
        margin-left: 70%;
        display: flex;
      }
    }
  }
  .help__img__girl {
    right: -109px;
  }
  .price__info__btn,
  .care__btns {
    justify-content: start;
  }
  h2 {
    font-size: 25px;
  }

  .result__slider__list__item__info {
    align-self: flex-start;
    align-items: flex-start;
  }

  .result__slider__list__item__info__desc {
    font-size: 20px;
  }

  .result__slider__list__item__info__name {
    font-size: 18px;
  }

  .result__slider__list__item__pic__img {
    aspect-ratio: 4 / 3;
  }

  .result__dots {
    margin-top: 10px;
  }

  .qual__container {
    gap: 40px;
  }

  .qual__slider__btn.left {
    position: absolute;
    top: 102%;
    left: 34%;
  }

  .qual__slider__btn.right {
    position: absolute;
    top: 102%;
    right: 34%;
  }

  .qual__slider__list__item {
    height: unset;
  }
  .qual__slider__dots {
    margin-top: -20px;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .start__container {
    display: flex;
    flex-direction: column;
    max-height: 524px;
    overflow: hidden;
    padding-top: 58px;
  }
  .start__h1 {
    font-size: 52px;
    min-height: 115px;
  }
  .start__h2 {
    font-size: 20px;
    margin-bottom: 9px;
  }
  .start__btn {
    margin: 0 auto;
  }
  .start__description {
    padding: 0;
    margin: 84px 0 15px;
    max-width: 280px;
  }
  .hero__container {
    padding: 0;
  }
  .hero__info__text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero__info__text__name {
    font-size: 20px;
  }
  .hero__info__text__greeting {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero__eng {
    font-size: 60px;
    margin-top: 72px;
  }
  .hero__info__eng__name {
    margin-top: -62px;
    margin-right: -186px;
  }
  .floatImg {
    margin: 0;
  }
  .floatImg img {
    margin: 0;
    max-height: 205px;
  }
  .history__container {
    padding: 0px;
  }
  .history__list__item {
    padding: 0;
  }

  .price__info__btn__arr__el__num {
    font-size: 25px;
    margin-right: 8px;
    width: 30px;
    height: 27px;
  }
  .price__info__btn__arr__el__info,
  .price__info__btn__arr__el__item__p {
    font-size: 20px;
    line-height: 140%;
  }
  .price__info__btn__arr__el__item__price {
    font-size: 14px;
  }
  .price__info__btn__arr__el__item {
    padding-bottom: 36px;
  }

  .footer__contacts {
    gap: 36px;
  }
  .broun__btn {
    font-size: 14px;
    font-family: Inter;
    line-height: 100%;
  }
  .footer__img {
    left: -37px;
  }
  .nav__list__item__link {
    font-size: 18px;
  }
  .footer__img__el {
    width: 118vw;
  }

  .price__title {
    margin-bottom: 40px;
  }
  .title {
    gap: 15px;
    border: none;
    flex-wrap: wrap;
    margin-top: 100px;
    &__right {
      padding-top: 6px;
    }
    &__left__price {
      width: 139px;
    }
  }
  h2 {
    font-size: 25px;
  }
  .qual,
  .review,
  .result {
    margin: 0;
  }
  .contacts__title {
    margin-top: 131px;
  }

  .care__list__el__img {
    height: 88vw;
  }
  .care__list__el__text__p {
    font-weight: 400;
    font-size: 14px;
  }
  .care__list__el__text__h {
    font-size: 20px;
    letter-spacing: 0em;
  }
  .care__title {
    margin-top: 10px;
  }
  .price__title {
    margin-top: 100px;
  }

  .contacts__container {
    padding-left: 0;
    padding-right: 0;
  }
  .contacts__title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .help__ahead {
    margin-top: 260px;
  }
  .help__btn {
    width: 100%;
    padding: 20px 36px;
    justify-content: center;
  }
  .help__text__buttons__mob {
    margin-left: 94%;
  }
  .help__text__p {
    bottom: -159px;
  }
  .help__img__girl {
    right: -22px;
  }
  .help__text__buttons {
    gap: 16px;
  }
  .help__text__buttons__btn {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    padding: 9px 16px;
  }
  .help__text {
    padding: 53px 482px 121px 0px;
  }
}
@media (max-width: 380px) {
  .start__girl {
    transform: translate(-12%, -23%); /* Меньше смещение для 320px */
    width: 150%; /* Увеличиваем ширину изображения */
    max-width: none;
    right: auto;
    left: 0;
  }

  .start__girl img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: left center;
  }

  .mob__only {
    display: inline;
  }
  .help__text {
    padding-right: 450px;
  }
}

@media (max-width: 320px) {
  .result__slider__list__item__info__name {
    font-size: 16px;
  }

  .result__slider__list__item__pic__text span {
    font-size: 14px;
  }
  .help__text {
    padding-right: 437px;
    &__p {
      bottom: -175px;
    }
  }
}
