.runningLine__container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  max-width: 100%;
  margin: 40px 0 168px;
  background-color: #fff;
}
@media (hover: hover) {
  .runningLine__container:hover .marquee-track {
    animation-play-state: paused;
  }
  .marquee-item:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }
}

.marquee-track {
  display: inline-flex;
  animation: marquee 30s linear infinite;
  min-width: max-content;
}

.marquee-item {
  flex: 0 0 auto;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.marquee-item img {
  height: 80px;
  width: auto;
  object-fit: contain;
  filter: grayscale(30%);
  transition: all 0.3s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Для бесконечного эффекта */
.marquee-track::after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* Адаптивность */
@media (max-width: 768px) {
  .marquee-item {
    margin: 0 10px;
  }
  .marquee-item img {
    height: 60px;
  }
}
